body {
    background: radial-gradient(rgb(30, 22, 46), rgb(28, 21, 31), black);
    color: bisque;
    font-family: 'Fredoka One', cursive;
}

button {
    padding: 5px 20px;
    font-size: large;
}

.button-container {
    margin: auto;
    max-width: 300px;
    min-width: 100px;
}

#button-play {
    color: lime;
    background-color: black;
    border: 5px solid lime;
    border-radius: 8px;
}

#button-stop {
    color: red;
    background-color: black;
    border: 5px solid red;
    border-radius: 8px;
}

#bpm-input {
    background: black;
    border: 1px solid darkslategray;
    width: 64px;
    color: aliceblue;
    -moz-appearance: textfield;
}

#tracks-container {
    margin: auto;
    max-width: 90%;
}

.track ul {
    list-style: none;
}

.track h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    min-width: 100px;
}

input[type=range] {
    margin-left: 20px;
    -webkit-appearance: none;
    width: 128px;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-moz-range-thumb {
    border-radius: 3px;
    height: 20px;
    width: 12px;
}

.gain-slider::-moz-range-thumb {
    background: rgb(158, 134, 0);
    border: 1px solid rgb(255, 252, 81);
}

.gain-slider::-moz-range-track {
    background: rgb(140, 150, 0);
}

.speed-slider::-moz-range-thumb {
    background: rgb(158, 0, 0);
    border: 1px solid rgb(255, 81, 81);
}

.speed-slider::-moz-range-track {
    background: rgb(150, 0, 0);
}

.gate-slider::-moz-range-thumb {
    background: rgb(0, 170, 142);
    border: 1px solid rgb(81, 206, 255);
}

.gate-slider::-moz-range-track {
    background: rgb(0, 150, 105);
}

.echo-slider::-moz-range-thumb {
    background: rgb(65, 0, 170);
    border: 1px solid rgb(176, 39, 255);
}

.echo-slider::-moz-range-track {
    background: rgb(56, 0, 160);
}

.measure {
    display: inline-block;
    padding: 8px;
    margin: 0;
}

.measure li {
    padding: 4px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    min-width: 32px;
}

.on {
    background-color: rgb(50, 50, 255);
    color: rgb(50, 50, 255);
    border-color: lightskyblue;
}

.off {
    background-color: rgb(0, 0, 90);
    color: rgb(0, 0, 90);
    border-color: darkslateblue;
}

li.highlight {
    border-color: white;
}